.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-bottom: 5%;
  }

  .one {
    grid-column: 2;
    grid-row: 1;
  }

  .two {
    grid-column: 2;
    grid-row: 2;
  }

  .three {
    grid-column: 1 ;
    grid-row: 3;
  }

  .four {
    grid-column: 2;
    grid-row: 3;
  }

  .five {
    grid-column: 3;
    grid-row: 3;
  }

  .five2{
    grid-column: 2;
    grid-row: 4;
    margin: auto;
  }

  .five3 {
    grid-column: 3;
    grid-row: 4;
  }

  .five4 {
    grid-column: 1;
    grid-row: 4;
  }

  .six {
    grid-column: 2;
    grid-row: 5;
  }

  .seven {
    grid-column: 1/4;
    grid-row: 6;
  }

  .eight {
    grid-column: 1;
    grid-row: 7;
  }

  .nine {
    grid-column: 2;
    grid-row: 7;
  }

  .ten {
    grid-column: 3;
    grid-row: 7;
  }